<div class="box w50">
    <div class="account">
        <h3>Bank Account(s)</h3>
    </div>
    <div class="bankaccounts"></div>
</div>
<div class="box w50">
    <h3>User Information</h3>
    <form id="userInfo" onsubmit="submitForm(this)">
        <label><span>Initials</span>
            <div><input id="initials" name="initials" type="text"></div>
        </label>
        <label><span>Last name</span>
            <div><input id="lastname" name="lastname" type="text"></div>
        </label>
        <label><span>E-mail address</span>
            <div><input id="email" name="email" type="text"></div>
        </label>
        <label></label>
        <label><span>Street + nr</span>
            <div>
                <table cellpadding="0" cellspacing="0"><tr>
                    <td width="80%"><input id="street" name="street" type="text"></td>
                    <td width="20%"><input id="nr" name="nr" type="text"></td>
                    </tr>
                </table>
            </div>
        </label>
        <label><span>City</span>
            <div><input id="city" name="city" type="text"></div>
        </label>
        <label><span>Postal code</span>
            <div><input id="postalcode" name="postalcode" type="text"></div>
        </label>
        <label><span>Phone number #</span>
            <div><input id="phone" name="phone" type="text"></div>
        </label>
        <input type="submit">
    </form>
</div>
