<div class="box w50">
    <div class="account">
        <h3>Bank Account(s)</h3>
    </div>
    <div class="bankaccounts"></div>
</div>
<div class="box w50">
    <h3>Make Payment</h3>
    <form id="userInfo" onsubmit="makePayment(this)">
        <label><span>Amount (€)</span>
            <div><input id="amount" name="amount" type="text"></div>
        </label>
        <label><span>Express</span>
            <div><input id="express" name="express" type="checkbox"></div>
        </label>
        <label><span>From account</span>
            <div class="listAccounts">
            </div>
        </label>
        <label></label>
        <label><span>Execution date</span>
            <div>
                <table cellpadding="0" cellspacing="0"><tr>
                    <td width="10%"><input id="date" name="date" type="text" value="DD"></td>
                    <td width="10%"><input id="month" name="month" type="text" value="MM"></td>
                    <td width="10%"><input id="year" name="year" type="text" value="YYYY"></td>
                </tr>
                </table>
            </div>
        </label>
        <label></label>
        <label><span>Recipient account #:</span>
            <div><input id="toAccount" name="toAccount" type="text"></div>
        </label>
        <label><span>Recipient Name</span>
            <div><input id="recipient" name="recipient" type="text"></div>
        </label>
        <input type="submit">
    </form>
</div>
