@import url('main.css');
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700';

/** presets **/

html,
body {
    margin: 0;
}

body,
.main {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

h1, h2, h3, h4, h5 {
    text-transform: capitalize;
    margin-top:0;
    font-family: Roboto, Garamond, Georgia, serif;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
}

h1 {
    font-size: 3em;
}
h2{
    font-size: 2em;
}
h3 {
    font-size: 1.1em;
}

ul, li{
    margin:0;
    padding:0;
    list-style-type: none;
}

p{
    text-align: justify;
    margin: 0;
    margin-bottom:10px;
}


/** logo **/
.logo img {
    display: inline-block;
    border: 0;
    width: 96px;
}

/** all the containers **/
.container {
    margin: 0 auto;
    padding: 2%;
    width: 80%;
    /*border:1px dotted #333;*/
}

.main, .footer {
    background-color: #E3E3E3;
}

.main:after {
    display: block;
    content:'';
    clear: both;
}

.container.header {
    padding-top: 10px;

    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}


.container.main {
    min-height: 250px;
    border-bottom: 1px solid #ccc;
}

.container.footer {
    border-top: 1px solid #fff;
}

#app {
    position: relative;
}

/** custom box model **/
.box {
    display: inline-block;

}

.box.w50{
    width: 49%;
    margin-right:1%;
    float: left;

    /*border:1px solid red;*/
}

.box.w50:after{
    display: block;
    content:'';
    clear: both;
}


/** form styling **/
form {
    padding:5px;
    border:1px solid #ccc;
}


form table, form table tbody, form table tr, form table td{
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
}

form input[type=text]{
    width:95%;
    padding:3px;
    border:1px solid #aaa;
    border-radius: 3px;
}

form select{
    width:100%;
    padding:3px;
    border:1px solid #aaa;
    border-radius: 3px;

}

form label {
    position: relative;
    display: block;
    height:25px;
    line-height:25px;
    cursor:pointer;
}


form label:after{
    /*display: block;*/
    /*content:'';*/
    /*clear: both;*/
}

form label div{
    position: absolute;
    right:0;
    display: inline-block;
    text-align: right;
    width: 50%;
}


form:after {
    display: block;
    content: '';
    clear: both;
}

form #nr{
    width:80%;
}

form #street{
    width: 94%;
}

/** bank accounts **/
.bankaccounts li {
    display: block;
    position: relative;
    width:200px;
    padding:5px;
    margin-bottom: 10px;
    background-color:#9DD40D;
    border:1px solid #bbb;

    box-shadow: inset 0 15px 0px rgba(255,255,255,0.3);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

.account-name{
    font-weight: bold;
    color:#fff;
    margin-bottom: 2px;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

.account-balance{
    display: inline-block;
    position: absolute;
    right:10px;
    top:0;
    line-height:45px;
    color:#fff;

    font-size: 1.5em;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.fractions{
    font-size: 0.7em !important;
}


/** ribbon **/
.ribbon-container {
    width: 100%;
    height: 138px;
    background-image: url('../img/people.jpg');
    background-position: center center;
    background-size: auto 100%;
    background-height: auto;
    background-width: auto;
}


/** navigation **/
.nav {
    margin: 0;
    padding: 0;
    margin-top:20px;
}

.nav li {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: inline-block;

    padding-right: 5px;
    border-right:1px solid #000;
}

.nav li:last-child{
    border-right: 0;
}

.nav a {
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    color: #000;
    transition: all 300ms ease-in-out 0s;

}

a.active {
    border-bottom-color:#9DD40D !important;
}

.nav a:hover{
    border-bottom-color:#9DD40D;
}

/** transactions **/
.transactionList {
    width: 100%;
    border: 1px solid #bbb;
    padding: 2px;

}
.transactionList li{
    padding:5px;
    display: block;
    position: relative;
}
.transactionList .name{
    margin-bottom: 0px;
}
.transactionList .date{
    font-size:0.7em;
}
.transactionList div{
    width:50%;
    position: absolute;
    right:0;
    top:0;
    line-height: 43px;
    padding-right:5px;
}
.transactionList div .amount{
    float:right;
}
.transactionList .amount{
    font-size: 1.2em;
}
.transactionList .type{
    display: inline;
    padding:5px;
    color:#fff;
    font-weight: bold;
    text-shadow: 0 1px 0px rgba(0,0,0,0.8);

    border-radius: 2px;
}
.transactionList .type.Add{
    background-color:#689f38;
}
.transactionList .type.Sub{
    background-color:#a32929;
}

/** credits **/
.credits{
    margin: 0;
    text-align: center;
}

/** utils **/
.red{
    border:1px solid red;
}
